<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Shopping List Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
    <h1>🛒 Lista Zakupów</h1>
    <form id="productForm">
        <input type="text" id="nameInput" placeholder="Nazwa produktu" required>
        <input type="number" step="0.01" id="priceInput" placeholder="Cena (zł)" required>
        <select id="categoryInput" required>
            <option value="" disabled selected>Wybierz kategorię</option>
            <option value="Warzywa">Warzywa</option>
            <option value="Owoce">Owoce</option>
            <option value="Nabiał">Nabiał</option>
            <option value="Pieczywo">Pieczywo</option>
            <option value="Napoje">Napoje</option>
            <option value="Inne">Inne</option>
        </select>
        <input type="number" step="1" id="quantityInput" placeholder="Ilość" required>
        <button type="submit">➕ Dodaj produkt</button>
    </form>

    <h2>🔍 Filtruj produkty</h2>
    <form id="filterForm">
        <input type="number" step="0.01" id="minCost" placeholder="Min koszt">
        <input type="number" step="0.01" id="maxCost" placeholder="Max koszt">
        <div>
            <select id="filterCategory">
                <option value="">Wszystkie kategorie</option>
                <option value="Warzywa">Warzywa</option>
                <option value="Owoce">Owoce</option>
                <option value="Nabiał">Nabiał</option>
                <option value="Pieczywo">Pieczywo</option>
                <option value="Napoje">Napoje</option>
                <option value="Inne">Inne</option>
            </select>

            <select id="filterBought">
                <option value="">Wszystko</option>
                <option value="true">Kupione</option>
                <option value="false">Nie kupione</option>
            </select>

            <button type="submit">Filtruj</button>
        </div>
    </form>
    <h2>🔍 Sortuj produkty</h2>
    <form id="sortForm">
            <select id="sortBy">
                <option value="">Sortuj wg</option>
                <option value="name">Nazwa</option>
                <option value="total_cost">Całkowity koszt</option>
                <option value="bought">Status</option>
            </select>

            <select id="sortOrder">
                <option value="asc">Rosnąco</option>
                <option value="desc">Malejąco</option>
            </select>

            <button type="submit">Sortuj</button>
    </form>
    <ul id="productsList"></ul>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>